html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 1rem;
    color:#999999;

}



.contenedor {
    max-width: 1200px;
    width: 100%;
    border-color: #999999;


}

.entrada-blog a {


   /* display: flex;

    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;*/

}


/** CODIGO AQUI **/

@media (min-width: 768px) {
    .tres-columnas{
        border-color: #999999;
        display: grid;
        grid-template-columns: repeat(3,1fr);



    }
}